---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>

<div class="PageNavigation">
    {% capture current_page %}{{ page.url | replace: "%20", " " | replace: "/", ""}}{% endcapture %}
    {% capture prev %}0{% endcapture %}
    {% capture next %}0{% endcapture %}
    {% capture prev_name %}0{% endcapture %}
    {% capture was_current %}0{% endcapture %}


    {% for name in site.pageslist %}
        {% if was_current == "1" %}
            {% capture next %}{{name}}{% endcapture %}
            {% capture was_current %}0{% endcapture %}
        {% endif %}

        {% if current_page == name %}
            {% capture prev %}{{prev_name}}{% endcapture %}
            {% capture was_current %}1{% endcapture %}
        {% endif %}

        {% capture prev_name %}{{name}}{% endcapture %}
    {% endfor %}

    {% if prev != "0" %}
    <a class="prev" href="{{ site.baseurl }}/{{prev | replace: " ", "%20"}}">&laquo; {{prev}}</a>
    {% else %}
    <a class="prev" href="{{ site.baseurl }}">&laquo; Home</a>
    {% endif %}
    {% if next != "0" %}
    <a class="next" href="{{ site.baseurl }}/{{next | replace: " ", "%20"}}">Next section: {{next}} &raquo;</a>
    {% endif %}
</div>


<script>
 function hidePlots() {
     var plots = document.getElementsByClassName("hideableplot");
     for (var i = 0; i < plots.length; i++) {
        plots[i].style.display = "none";
     }
 }
 var selector = document.getElementById("plotselect");
 function updatePlot() {
     console.log(selector.value);
     hidePlots();
     document.getElementById(selector.value).style.display = "block";
 }
 if (selector != null) {
     hidePlots();
     selector.addEventListener("change", updatePlot);
     updatePlot();
 }

</script>
